
<br><br><br>
<%= form_with(model: @comment, local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <% @comment.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_area :content, class: "comment_input" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
